[Unit]
Description=asnan


[Service]
User=ayman
WorkingDirectory=/var/www/html/payroll
ExecStart=/var/www/html/flutter/bin/dart bin/servers/server_asnan.dart
Restart=always
# Remove this line if using Angel:
#Environment=ANGEL_ENV=production

[Install]
WantedBy=multi-user.target
