[Unit]
Description=eco


[Service]
User=root
WorkingDirectory=/var/www/html/eco/eco_server
ExecStart=/var/www/html/flutter/bin/dart lib/server.dart
Restart=always
# Remove this line if using Angel:
#Environment=ANGEL_ENV=production

[Install]
WantedBy=multi-user.target
