[Unit]
Description=payroll


[Service]
User=ayman
WorkingDirectory=/var/www/html/payroll
ExecStart=/home/ayman/flutter/bin/dart bin/server.dart
Restart=always
# Remove this line if using Angel:
#Environment=ANGEL_ENV=production

[Install]
WantedBy=multi-user.target
