[Unit]
Description=server_example

[Service]
User=ayman
WorkingDirectory=/home/ayman/payroll
ExecStart=/home/ayman/flutter/bin/dart bin/server.dart
Restart=always
# Remove this line if using Angel:
#Environment=ANGEL_ENV=production

[Install]
WantedBy=multi-user.target
